{{> head }}

    {{> navbar }}

    <div class="row">
        <div class="col-7">
            <h1>Logo</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos perspiciatis aspernatur voluptates commodi voluptas odio dolorem amet aut quibusdam vitae consequatur tempore repellat ipsum reprehenderit obcaecati quam nihil, ex earum!</p>
        </div>
        <div class="col-4">
            <img src="assets/img/node.jpg" class="img-thumbnail" />
        </div>
    </div>

{{> footer }}